
.header--home {
    min-height: 100vh;
    width: 100%;

    background-image: url('../images/bg_accents.svg'), url('../images/bg_points.svg');
    background-attachment: fixed, fixed;
    background-repeat: repeat-y, repeat-y;
    background-size: cover;
    background-position: center center, center center;

    position: relative;
}

.introduction--home {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    color: $blue;
    font-weight: 400;
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    .introduction__line {
        display: block;
        text-transform: lowercase;
        &--big {
            font-size: 5rem;
            font-weight: 600;
            color: $blue;
            text-transform: none;
        }
    }
}


.introduction__arrow {
    fill: $blue;
    width: 2rem;
    height: auto;
    display: block;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 1rem);
    transition: 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: translateY(10px);
    }
}
