@media screen and (max-width: 1200px) {
    .work {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 1120px) {
    .work__title--emphasis {
        margin-left: 0;
        display: inline;
    }

    .work__content {
        margin-left: 0;
    }

    .work__projects {
        margin-left: -2.5%;
        max-width: 1056px;
    }
    .work__cta {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .work__title {
        font-size: 3rem;
        line-height: 1;
    }
    .work__content {
        font-size: 1rem;
    }
    .work__projects {
        .project {
            width: 47.5%;
        }
    }
}


@media screen and (max-width: 530px) {
    .work__projects {
        margin-left: 0;
        .project {
            margin: 0 0 3rem 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 350px) {
    .work {
        padding: 3rem 1rem;
    }
    .work__projects {
        .project {
            max-width: 100%;
        }
    }
}
