.about {
    width: 100%;
    font-family: $karla;
    padding: 0;
}


.body--about {
    background-image: url('../images/about.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 600px;
}

.about__wrapper, .fields__wrapper {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    //padding: 0rem 0 5rem 0;
}

.about__title {
    //margin-bottom: 3rem;
    line-height: 1.4;
}

.about__title--emphasis {
    display: block;
    margin-left: 7rem;
    margin-top: -2rem;
}

.about__content {
    width: 100%;
}

.about__text {
    margin-top: 0.5rem;
    margin-left: 7.2rem;
    max-width: 750px;
    font-size: 1.5rem;
}

.about__text--emphasis {
    font-style: italic;
}

/////////////////////////
// graphisme & dév web \\
///////////////////////

.fields, .contact {
    padding: 3rem 0 0 0;
    font-family: $karla;
    width: 100%;
}


.fields__title {
    font-weight: 600;
    font-size: 4rem;
    color: $blue;
}

.fields__title--emphasis {
    display: block;
    margin-left: 7rem;
    margin-top: -2rem;
}

.fields__content {
    margin-top: 0.5rem;
    margin-left: 7.2rem;
    max-width: 750px;
    font-size: 1.5rem;
}

.fields__cta, .about__cta {
    margin-top: 1rem;
    margin-left: 7.2rem + 1rem;
}

.about__cta--second {
    margin-left: 3rem;
}

///////////////
/// contact \\\
///////////////

.contact {
    padding-bottom: 4rem;
}


.contact__title {
    font-weight: 600;
    font-size: 4rem;
    color: $blue;
    // max-width: 1056px;
    // width: 100%;
    // margin: 0 auto 3rem auto;
}

.contact__wrapper {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    //display: flex;
}

.contact__infos {
    //display: flex;
    //flex-direction: column;
    //width: 40%;
    //margin-left: 2rem;
    margin-top: 0.5rem;
    margin-left: 7.2rem;
    max-width: 750px;
}

.contact__listc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__itemc {
    margin-bottom: 0.1rem;
    .contact__link {
        display: inline-block;
        font-weight: 600;
        //margin-top: 0.75rem;
        &::after {
            content: "";
            height: 1.5px;
            background-color: $darkGray;
            width: 0%;
            display: block;
            position: relative;
            top: -2px;
            transition: 0.2s ease-in;
        }
        &:hover, &:focus {
            &::after {
                width: 100%;
            }
        }
    }
}


.contact__subtitle, .contact--special {
    color: $blue;
    font-family: $karla;
    font-weight: 600;
    font-size: 1.5rem;

}

.contact__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contact--special {
    display: block;
    margin-top: 0.75rem;
}
