@media screen and (min-width: 1680px) {
    .body--about {
        background-size: 800px;
    }
}


@media screen and (max-width: 1200px) {
    .about {
        padding: 0 2rem 0 2rem;
    }
    .body--about {
        background-size: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .body--about {
        background-position: right -40% bottom 10%;
        background-size: 500px;
    }
}


@media screen and (max-width: 800px) {

    .fields__title, .about__title {
        font-size: 3rem;
        line-height: 1.6;
    }

    .fields__title--emphasis, .about__title--emphasis {
        margin-left: 0;
    }

    .fields__content, .about__text {
        margin-left: 0;
        font-size: 1.2rem;
        max-width: 500px;
    }

    .fields__cta, .about__cta {
        margin-left: 1rem;
    }

    .about__cta--second {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 730px) {
    .body--about {
        background-position: right -75% bottom 20%;
        background-size: 500px;
    }
}

@media screen and (max-width: 650px) {
    .body--about {
        background: none;
    }
}


@media screen and (max-width: 530px) {
    .about__title, .fields__title {
        display: inline;
        line-height: 1;
    }
    .about__title--emphasis, .fields__title--emphasis {
        margin: 0;
        line-height: 1;
    }
}

@media screen and (max-width: 530px) {

    .about__title, .fields__title {
        font-size: 2rem;
    }
    .about__text, .fields__content {
        font-size: 1rem;
    }
    .about__image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .about__cta--second {
        display: block;
        margin-left: 1rem;
        margin-top: 0;
    }
}


@media screen and (max-width: 370px) {
    .about {
        padding: 0 1rem 0 1rem;
    }
}
