.cta {
    display: inline-block;
    font-weight: 600;
    margin-left: 1rem;
    color: $blue;
    position: relative;
    transition: 0.2s ease-in-out;
    text-transform: lowercase;
    &::before {
        content: "\25CF";
        display: inline-block;
        position: absolute;
        left: -1rem;
        top: 0;
        color: $pink;
        transition: 0.2s ease-in-out;
    }
    &:hover, &:focus {
        color: $pink;
        &::before {
            opacity: 1;
            color: $turquoise;
        }
    }
}
