.footer {
    background-color: $blue;
    color: white;
    //margin-bottom: -10px;
}

.footer__wrapper {
    max-width: 1056px;
    margin: 0 auto;
}


.palmtree {
    padding: 0.5em;
}

.palmtree__svg {
    max-width: 0.5em;
    fill: #32cc32;
}
