@media screen and (max-width: 1200px) {
    .projects__title {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 530px) {
    .projects__title {
        text-align: center;
    }
    .projects--wrapper {
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .project {
            max-width: 100%;
        }
    }
}
