.project__title {
    //@include hidden;
    //opacity: 0;
    //transition: opacity 0.2s ease-in;
    font-size: 1rem;
    text-indent: 0;
    //text-transform: lowercase;
    font-weight: 400;
    opacity: 1;
    color: $blue;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0.5rem auto 1rem auto;
    transition: 0.3s;
}

.project {
    //width: 280px;
    height: 200px;
    //overflow: hidden;
    background-color: white;
    cursor: pointer;
    &:hover {
        .project__title {
            // font-size: 1rem;
            // text-indent: 0;
            // text-transform: lowercase;
            // font-weight: 600;
            // opacity: 1;
            // color: $blue;
        }
    }
}
