@media screen and (max-width: 1200px) {
    .projects {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 800px) {
    .projects--wrapper {
        .project {
            width: 47.5%;
        }
    }
}

@media screen and (max-width: 530px) {
    .projects__title {
        text-align: center;
    }
    .projects--wrapper {
        padding: 0 1rem 2rem;
        transform: translate(0);
        .project {
            width: 100%;
            margin: 0 0 3rem 0;
        }
    }
}
