.projects {
    width: 100%;
}

.projects__title {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto 1rem auto;
    line-height: 1;
}

.projects--wrapper {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    transform: translate(-2.5%);
    font-size: 0;
    list-style: none;
    .project {
        font-size: 16px;
        font-size: 1rem;
        display: inline-block;
        margin: 0 0 2.5% 2.5%;
        width: 30.83%;
        &__image {
            max-width: 100%;
            height: auto;
        }
    }
}
