.project {
    width: 280px;
    height: 150px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0);
    transition: 0.2s ease-in;
    &:hover {
        box-shadow: 0px 0px 0px 3px $blue;
        border-radius: 5px;
    }
}


.project__title {
    @include hidden;
}
