.single-project {
    width: 100%;
}

.single-project__wrapper {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 4rem 0;
}

.project__date {
    font-family: $karla;
    font-size: 1.5rem;
    font-weight: 600;
    color: $blue;
    text-transform: capitalize;
}

.introduction--project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .introduction__content {
        font-size: 1.2rem;
        max-width: 48%;
    }
    .introduction__links {
        margin-top: 2rem;
    }
    .introduction__link+.introduction__link {
        margin-left: 2.5rem;
    }
    .introduction__image {
        box-shadow: 3px 3px 14px 0px $lightGray;
        max-width: 48%;
    }
}

.project__process {
    margin: 4rem auto 0 auto;
    width: 100%;
    max-width: 1056px;
}

.process__title {
    font-weight: 600;
    font-size: 2.5rem;
    color: $blue;
    font-family: $karla;
    line-height: 1;
    display: block;
    margin-bottom: 2rem;
}

.process__wrapper {
    width: 100%;
    margin-left: -2.5%;
    font-size: 0;
    list-style: none;

}

.process__item {
    font-size: 18px;
    font-size: 1rem;
    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    width: 30.83%;
    vertical-align: top;
}

.process__figure {
    //margin: 1.5rem 1rem;
    //max-width: 100%;
    //overflow: hidden;
}

.process__image {
    max-width: 100%;
    height: auto;
}

.image__caption {
    font-family: $karla;
    color: $blue;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
