.single-project {
    width: 100%;
}

.single-project__wrapper {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 4rem 0;
}

.project__date {
    font-family: $karla;
    font-size: 1.5rem;
    font-weight: 600;
    color: $blue;
    text-transform: capitalize;
}

.introduction--project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .introduction__content {
        font-size: 1.2rem;
        max-width: 48%;
    }
    .introduction__links {
        margin-top: 2rem;
    }
    .introduction__link+.introduction__link {
        margin-left: 2.5rem;
    }
    .introduction__image {
        box-shadow: 3px 3px 14px 0px $lightGray;
        max-width: 48%;
    }
}

.project__process {
    margin: 4rem auto 0 auto;
    width: 100%;
    max-width: 1056px;
}

.process__title {
    font-weight: 600;
    font-size: 2.5rem;
    color: $blue;
    font-family: $karla;
    line-height: 1;
    display: block;
    margin-bottom: 2rem;
}

.process__wrapper {
    width: 100%;
    margin-left: -2.5%;
    font-size: 0;
    list-style: none;
}

.process__item {
    font-size: 18px;
    font-size: 1rem;
    display: inline-block;
    margin: 0 0 2rem 2.5%;
    width: 30.83%;
    vertical-align: top;
}

.process__figure {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;
    border-radius: 3px;
    //border: 3px solid $blue;
    //box-shadow: 1px 1px 14px 0 $lightGray;
}

.process__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    // -webkit-transform: scale(1.1);
    // -moz-transform: scale(1.1);
    // -ms-transform: scale(1.1);
    // -o-transform: scale(1.1);
    // transform: scale(1.1);
    // -webkit-transition: -webkit-transform 0.3s;
    // -moz-transition: -moz-transform 0.3s;
    // -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.process__overlay {
    background: rgba(91, 117, 182, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.3s;
    font-size: 1rem;
}

.process__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay__button {
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.3s;
}

.process__item:hover {
    cursor: pointer;
    .process__image {
        //-webkit-filter: blur(2px);
        //filter: blur(2px);
        transform: scale(1.05);
    }
    .process__overlay {
        opacity: 1;
    }
    .overlay__button {
        opacity: 1;
    }
    .image__caption {
        color: $pink;
    }
}

.image__caption {
    font-family: $karla;
    color: $blue;
    text-align: center;
    margin: 0.2rem auto 0;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s;
    display: inline-block;
    width: 100%;
}
