.main-title {
    padding-top: 3rem;
    font-weight: 600;
    font-size: 4rem;
    color: $blue;
    font-family: $karla;
    line-height: 1;
}

@media screen and (max-width: 800px) {
    .main-title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 530px) {
    .main-title {
        padding-top: 0;
    }
}
