// KARLA
@font-face {
    font-family: Karla;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/karla/Karla-Regular.ttf");
}

@font-face {
    font-family: Karla;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/karla/Karla-Italic.ttf");
}

@font-face {
    font-family: Karla;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/karla/Karla-Bold.ttf");
}


@font-face {
    font-family: Karla;
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/karla/Karla-BoldItalic.ttf");
}

// SOURCE SANS PRO
@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/source-sans-pro/SourceSansPro-It.otf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
}

// ICONS

@font-face {
  font-family: "icon-portfolio";
  src:url("../fonts/icon-portfolio/icon-portfolio.eot");
  src:url("../fonts/icon-portfolio/icon-portfolio.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-portfolio/icon-portfolio.woff") format("woff"),
    url("../fonts/icon-portfolio/icon-portfolio.ttf") format("truetype"),
    url("../fonts/icon-portfolio/icon-portfolio.svg#icon-portfolio") format("svg");
  font-weight: 400;
  font-style: normal;
}
